*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container-md{
    background-color: pink;
}
.h1{
    text-align: center;
}



























