*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container-md{
    background-color: rgb(242, 212, 234);
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}
.lista{
    position: relative;
    width: 400px;
    height: 550px;
    border: 2px solid pink;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}



























